body {
  background-color: beige;
}
textarea {
  background-color: burlywood;
  color: #493737;
  font-weight: bold;
  border-radius: 10px;
  padding: 15px;
}

form #username {
  background-color: rgb(255, 190, 190);
}
